<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<body>

<canvas id="myChart" style="width:100%;max-width:600px"></canvas>

<script>
    const propertyValues = JSON.parse('<%-dailyredeemed%>');
    console.log(propertyValues);
    var a = Object.values(propertyValues)

    var res1 = []
    var res2 = []
    for (i = 0; i < a.length; i++) {
        res1.push(a[i]._id)
        res2.push(a[i].tpts)
    }
var xValues = res1;
var yValues = res2;
var barColors = ["red", "green","blue","orange","black","yellow","gray"];

new Chart("myChart", {
  type: "bar",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "World Wine Production 2018"
    }
  }
});
</script>

</body>
</html>