<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | General Form Elements</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- Left navbar links -->
  <ul class="navbar-nav" style="margin-left:25%">
    
    
    <li class="nav-item d-none d-sm-inline-block">
      <a href="/adminhome" class="nav-link">Home</a>
    </li>
    
  </ul>

  </nav>

    <!-- Main content -->
    <section class="content" style="padding-top:7%;padding-left: 33%;">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header" style="background-color: #343a40!important;">
                            <h3 class="card-title">ADD POINTS</h3>
                        </div>
    
                        <form method="post" action="/addingpts">
                            <div class="card-body">
    
    
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Username</label>
                                    <input type="text" class="form-control" id="username"
                                         name="username" value="<%=uname.username%>" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Points</label>
                                    <input type="text" class="form-control" id="userpts"
                                        placeholder="Enter Points to be added" name="userpts"> 
                                </div>
                                <div class="form-group">
                                    
                                    <input type="hidden" class="form-control" id="userptsa"
                                        placeholder="Enter Points to be added" name="userid" value="<%=uname._id%>"> 
                                </div>
    
    
                                
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary" &emsp>Submit</button>
                                </div>
                                
                            </div>
    
                        </form>
                    </div>
    
                </div>
                <!-- /.card -->
    
            </div>
           
        </div>
    </section>
    <!-- /.content -->
  </div>
 

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- bs-custom-file-input -->
<script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
</body>
</html>
