<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    a:link {
      color: black;
      text-decoration: none;
      padding-left: 0%;
    }

    .navbars {

      margin-left: 25%;

    }
    .content{
        padding: auto;
        padding-top: 12%;
    }
    
  </style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Login Form</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/stylesheets/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Left navbar links -->
    <ul class="navbar-nav" style="margin-left:07%">
     
      <li class="nav-item d-none d-sm-inline-block">
        <a href="/login" class="nav-link">Home</a>
      </li>
    </ul>
  </nav>



  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- left column -->
        <div class="col-md-3"></div>
        <div class="col-md-5">
          <!-- general form elements -->
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">RESET PASSWORD</h3>
            </div>
            <script>
 
                function resetpass(e) {
                e.preventDefault();
                console.log("in AJAx");
                usercred = {
                "password": document.getElementById("password").value,
                "cpassword": document.getElementById("cpassword").value
                
                }
                
                var url = "/resetpass"; // the script where you handle the form input.
                
                $.ajax({
                type: "POST",
                url: url,
                data: usercred, // serializes the form's elements.
                success: function (data) {
                if (data.msg == "Passwords does not match") {
                document.getElementById("para").innerHTML = data.msg;
                document.getElementById("password").value = data.value;
                document.getElementById("cpassword").value = data.value;
                }
                else
                {
                document.getElementById("para1").innerHTML = "Password Updated Successfully";
                document.getElementById("password").value = data.value;
                document.getElementById("cpassword").value = data.value;
                
                
                }
                }
                
                
                });
                
                return false; // avoid to execute the actual submit of the form.
                };
                
                </script>

            <form>
              <div class="card-body">
                <p id="para" style="color: red;"></p>
                <p id = "para1" style="color:  green;"></p>

                <div class="form-group">
                    <label for="empid" id="empid">Password</label><br>
                    <input type="password" class="form-control" id="password" name="password" >
                  </div>
                  <div class="form-group">
                    <label for="empid" id="empid">Confirm Password</label><br>
                    <input type="password" class="form-control" id="cpassword" name="cpassword" >
                </div>

                


                <div class="card-footer">
                  <button onclick="resetpass(event)" class="btn btn-primary" &emsp>Submit</button>
                </div>

              </div>

            </form>
          </div>

        </div>
        <!-- /.card -->

      </div>

    </div>
  </section>
  <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->

  <!-- jQuery -->
  <script src="../../plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap 4 -->
  <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- jquery-validation -->
  <script src="../../plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="../../plugins/jquery-validation/additional-methods.min.js"></script>
  <!-- AdminLTE App -->
  <script src="../../dist/js/adminlte.min.js"></script>
  <!-- AdminLTE for demo purposes -->
  <script src="../../dist/js/demo.js"></script>
  <!-- Page specific script -->

</body>

</html>